@media (min-width: 300px) {

    a:-webkit-any-link {
        color: none;
        cursor: pointer;
    }

    .o{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    
    .o1{
        background:url(//image.ibb.co/nBJ818/bg.png);
        z-index: 1;
    }
    
    .o2{
        background:url(//image.ibb.co/czVo18/stars.png);
        z-index: 2;
        animation:200s scroll infinite linear;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
    
    .o3{
        background:url(//image.ibb.co/g76HuT/nebula.png);
        z-index: 3;
        animation:200s scroll2 infinite linear;
    }
    
    .o4{
        background:url(//image.ibb.co/b8VcuT/clouds.png);
        z-index: 3;
        animation:400s scroll infinite linear;
    }

    .o5 {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .o6 {
        z-index: 6;
    }

    .o7 {
        z-index: 9;
        display: flex;
        flex-direction: column;
    }


    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
    }

    .ModalInitial {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 90%;
        height: 30%;
        background-color: #fff;

    }

    .Happy {
        position: relative;
        top: 6%;
        align-self: center;
        font-family: 'Berkshire Swash', cursive;
        color: #47086b;
        text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
    }

    .User {
        align-self: center;
        font-family: 'Poppins', sans-serif;
        color: #47086b;
        text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
    }


    #Star0 {
        transform: translate(450%, -30%);
    }

    #Star1 {
        transform: translate(540%, -400%);
    }

    #Line1 {
        transform: translate(700%, -110%);
    }

    #Star2 {
        transform: translate(450%, -83%);
    }

    #Line2 {
        transform: translate(10800%, 30%);
    }

    #Star3 {
        transform: translate(257%, 130%)
    }

    #Line3 {
        transform: translate(100%, 250%);
    }

    #Star4 {
        transform: translate(-80%, 390%)
    }

    #Line4 {
        transform: translate(60%, 140%)
    }

    #Star5 {
        transform: translate(56%, 520%)
    }

    .ModalOverlay1, .ModalOverlay2,.ModalOverlay3,
    .ModalOverlay4, .ModalOverlay5 {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;

        left: 05%;
        top: 05%;

        width: 90%;
        height: 90%;
        border-radius: 10px;
        z-index: 10;
    }

    .ModalOverlay1 {
        background: rgb(53,66,76);
        background: linear-gradient(108deg, rgba(53,66,76,1) 6%, rgba(74,89,105,1) 23%, rgba(66,121,115,1) 45%, rgba(93,131,138,1) 65%, rgba(115,190,176,1) 93%);
    }

    .ModalOverlay2 {
        background: rgb(71,53,53);
        background: linear-gradient(310deg, rgba(71,53,53,1) 12%, rgba(123,53,51,1) 38%, rgba(187,43,37,1) 84%);
    }

    .ModalOverlay3 {
        background: rgb(39,33,35);
        background: linear-gradient(310deg, rgba(39,33,35,1) 12%, rgba(79,62,58,1) 38%, rgba(135,100,74,1) 84%);
    }

    .ModalOverlay4 {
        background: rgb(61,47,44);
        background: linear-gradient(310deg, rgba(61,47,44,1) 12%, rgba(107,25,27,1) 38%, rgba(194,68,65,1) 84%);
    }

    .ModalOverlay5 {
        background: rgb(40,25,54);
        background: linear-gradient(90deg, rgba(40,25,54,1) 12%, rgba(68,47,93,1) 38%, rgba(102,82,123,1) 84%);
    }
    
    .ModalOverlay1.active, .ModalOverlay2.active, .ModalOverlay3.active,
    .ModalOverlay4.active, .ModalOverlay5.active {
        opacity: 1;
        visibility: visible;

    }

    .Content {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 95%;
        background-color: #F0F2f5;
        min-height: 45%;
    }

    .Title {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        color: rgb(226, 216, 216);
    }

    .Text {
        font-family: 'Lato', sans-serif;
        width: 90%;
        font-size: 0.98rem;
    }

    .VisualIMGXiao {
        height: 256px;
    }

    .VisualIMG {
        height: 256px;
        width: 256px;
    }

    .CloseModal,
    .CloseModal::before ,
    .CloseModal::after {
        content: "";
        position: absolute;
        left: 70%;
        top: 6.5%;
        display: flex;
        background-color: #E62721;
        height: 4px;
        width: 36px;
        border-radius: 5px;
        transition: all 1s;
    }

    .CloseModal::before {
        transform: translateY(-8px);
        transform: rotate(45deg);
    }

    .CloseModal::after {
        transform: translateY(8px);
        transform: rotate(-45deg);
    }

    .CloseModal {
        background-color: transparent;
    }
    
    .XiaoModal, .HuTaoModal, .ZhongliModal, 
    .ThomaModal, .ShogunModal {
        display: inline-flex;
        justify-content: center;
        background: #F0F2f5;
        height: 80%;
        width: 80%;
        position: relative;
        z-index: 1;
    }
    
    @-webkit-keyframes scroll{
        100%{
        background-position:-3000px 0px;
        }
    }
    @-moz-keyframes scroll{
        100%{
        background-position:-3000px 0px;
        }
    }
    @-o-keyframes scroll{
        100%{
        background-position:-3000px 0px;
        }
    }
    @-ms-keyframes scroll{
        100%{
        background-position:-3000px 0px;
        }
    }
    @keyframes scroll{
        100%{
        background-position:-3000px 0px;
        }
    }
    
    @-webkit-keyframes scroll2{
        100%{
        background-position:-3000px 0px;
        }
    }
    @-moz-keyframes scroll2{
        100%{
        background-position:-3000px 0px;
        }
    }
    @-o-keyframes scroll2{
        100%{
        background-position:-3000px 0px;
        }
    }
    @-ms-keyframes scroll2{
        100%{
        background-position:-3000px 0px;
        }
    }
    @keyframes scroll2{
        100%{
        background-position:3000px 0px;
        }
    }

}